.git
.gitignore
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.idea/
.vscode/
etc/
prompts/
schemas/
wb-rules/
*.sh
broadlink_cli.py
broadlink_discovery.py
mqtt_sniffer.py
*.ipynb
TODO.md
