fastapi>=0.103.0
uvicorn>=0.23.2
aiomqtt>=1.0.0
pydantic>=2.3.0
python-dotenv>=1.0.0
broadlink>=0.18.0
#pywebostv>=0.8.9
# Temporarily using local asyncwebostv, install manually with:
# pip install -e ../asyncwebostv
websockets>=10.0
asyncio>=3.4.3
paho-mqtt>=1.6.1

# Local dependencies - will be installed separately in the Dockerfile
# pymotivaxmc2
# asyncwebostv